.bubble-container {
  display: block;
  height: 100%;
  animation: hue-rotate 10s linear infinite;
  text-align: center;
}

.button {
  -webkit-font-smoothing: antialiased;
  background-color: #222;
  border: none;
  color: #fff;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  transition: all 0.1s ease-out;
}

.button:hover {
  background-color: #90feb5;
  color: #fff;
}

.button:active {
  transform: scale(0.95);
}

.button--bubble {
  position: relative;
  z-index: 1001;
  color: white;
  background: none;
}

.button--bubble:hover {
  background: none;
}

.button--bubble:hover + .button--bubble__effect-container .circle {
  background: #44fd82;
}

.button--bubble:hover + .button--bubble__effect-container .button {
  background: #44fd82;
}

.button--bubble:active + .button--bubble__effect-container {
  transform: scale(0.95);
}

.button--bubble__container {
  position: relative;
  display: inline-block;
  top: 50%;
  margin-top: -25px;
}

.button--bubble__container .effect-button {
  position: absolute;
  width: 50%;
  height: 25%;
  top: 50%;
  left: 25%;
  z-index: 1000;
  transform: translateY(-50%);
  background: #222;
  transition: background 0.1s ease-out;
}

.button--bubble__effect-container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  filter: url("#goo");
  transition: all 0.1s ease-out;
  pointer-events: none;
}

.button--bubble__effect-container .circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background: #222;
  transition: background 0.1s ease-out;
}

.button--bubble__effect-container .circle.top-left {
  top: 40%;
  left: 27%;
}

.button--bubble__effect-container .circle.bottom-right {
  bottom: 40%;
  right: 27%;
}

.goo {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

/* CSS Animations for the circles */
.button--bubble__effect-container.is-active .circle.top-left:nth-child(1) {
  animation: topLeft1 2s forwards;
}

.button--bubble__effect-container.is-active .circle.top-left:nth-child(2) {
  animation: topLeft2 2s forwards;
}

.button--bubble__effect-container.is-active .circle.top-left:nth-child(3) {
  animation: topLeft3 2s forwards;
}

.button--bubble__effect-container.is-active .circle.bottom-right:nth-child(5) {
  animation: bottomRight1 2s forwards;
}

.button--bubble__effect-container.is-active .circle.bottom-right:nth-child(6) {
  animation: bottomRight2 2s forwards;
}

.button--bubble__effect-container.is-active .circle.bottom-right:nth-child(7) {
  animation: bottomRight3 2s forwards;
}

.button--bubble__effect-container.is-active .effect-button {
  animation: effectButton 1s forwards;
}

@keyframes topLeft1 {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  20% {
    transform: translate(-25px, -25px) scale(2, 2);
  }
  30% {
    transform: translate(-19px, -27px) scale(0.2);
  }
  100% {
    transform: translate(-30px, -42px) scale(0);
    opacity: 0;
  }
}

@keyframes topLeft2 {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  20% {
    transform: translate(-25px, -25px) scale(2, 2);
  }
  30% {
    transform: translate(-35px, -32px) scale(1, 0.8);
  }
  100% {
    transform: translate(-45px, -42px) scale(0.4);
    opacity: 0;
  }
}

@keyframes topLeft3 {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  20% {
    transform: translate(-25px, -25px) scale(2, 2);
  }
  30% {
    transform: translate(-40px, -19px) scale(0.2);
  }
  100% {
    transform: translate(-55px, -14px) scale(0);
    opacity: 0;
  }
}

@keyframes bottomRight1 {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  20% {
    transform: translate(30px, 30px) scale(1);
  }
  30% {
    transform: translate(24px, 33px) scale(0.2);
  }
  100% {
    transform: translate(29px, 48px) scale(0);
    opacity: 0;
  }
}

@keyframes bottomRight2 {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  20% {
    transform: translate(30px, 30px) scale(1);
  }
  30% {
    transform: translate(37px, 33px) scale(0.8);
  }
  100% {
    transform: translate(44px, 40px) scale(0.4);
    opacity: 0;
  }
}

@keyframes bottomRight3 {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  20% {
    transform: translate(30px, 30px) scale(1);
  }
  30% {
    transform: translate(45px, 24px) scale(0.2);
  }
  100% {
    transform: translate(60px, 19px) scale(0);
    opacity: 0;
  }
}

@keyframes effectButton {
  0% {
    transform: translateY(-50%) scale(1);
  }
  10% {
    transform: translateY(-50%) scaleY(1.1);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}

@keyframes hue-rotate {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
