@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Shrikhand&display=swap");
@import "tailwindcss";
.main-logo-font {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  margin-left: 10px;
  margin-bottom: 0px;
}
