.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
}

.or-wrapper.line {
  flex: 1;
  border: "1px solid #ccc";
}

.social-login-button {
  background-color: white;
  border: 1px solid #ccc;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding: 8px 16px;
  color: black;
}
